---
    - name: instalando dependecias apache2 e php
      ansible.builtin.apt:
          pkg:
          - apache2 
          - ghostscript
          - libapache2-mod-php
          - php
          - php-bcmath
          - php-curl
          - php-imagick
          - php-intl
          - php-json
          - php-mbstring
          - php-mysql
          - php-xml
          - php-zip
          - php-gd
          state: latest
          update_cache: yes
      become: yes